/* Layout.module.css */
.container {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Dopasowanie do góry strony */
  flex-direction: column;
  background-color: #ffffff;
  margin-left: 200px; /* Odstęp od lewego navbaru */
}
