/* Navbar.module.css */
.navbar {
  position: fixed; /* Pozycjonowanie navbaru jako stałego po lewej stronie */
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh; /* Cała wysokość okna przeglądarki */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navList li {
  margin-bottom: 20px;
}

.navList li a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
}
